astroid==2.15.0
blinker==1.5
certifi==2022.12.7
click==8.1.3
defusedxml==0.7.1
dill==0.3.6
elastic-transport==8.4.0
elasticsearch==8.6.2
ezodf==0.3.2
flake8==6.0.0
Flask==2.2.3
Flask-DebugToolbar==0.13.1
flask-marshmallow==0.14.0
Flask-SQLAlchemy==3.0.3
greenlet==2.0.2
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
lxml==4.9.2
Mako==1.2.4
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-sqlalchemy==0.29.0
mccabe==0.7.0
packaging==23.0
platformdirs==3.1.1
psycopg2-binary==2.9.5
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==2.17.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.7.1
six==1.16.0
SQLAlchemy==2.0.7
SQLAlchemy-Utils==0.40.0
sqlparse==0.4.3
sqltap==0.3.11
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
urllib3==1.26.15
Werkzeug==2.2.3
wrapt==1.15.0